
    <p>Please confirm this request to login is from a trusted Model Context Protocol client.</p>

    <p>Client details:</p>
    <ul>
      <li>Name: <strong><%= client['clientName'] %></strong></li>
      <li>URI: <code><%= client['clientUri'] %></code></li>
      <li>Redirect URIs: <code><%= JSON.stringify(client['redirectUris']) %></code></li>
    </ul>

    <form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
      <p>
        <input type="checkbox" name="confirmed" id="confirmed" value="true">
        <label for="confirmed">This is a trusted client.</label>
      </p>
      
      <p><button type="submit" class="login login-submit">Login</button></p>
    </form>
